@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'watchlist_font';
  src: url('/fonts/Garet-Book.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'watchlist_font';

  margin: 0;
  background-color: black;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  background-color: black;
  width: 25vw;
  height: 7vh;
  border: .3vh solid white;
  border-radius: .5vh;
  padding: .5vh 1vw;
  font-size: large;
}

.button {
  background-color: rgb(80, 225, 251);
  width: 25vw;
  border-radius: .5vh;
  height: 7vh;
  font-size: larger;
}